@import 'Components/base';

body {
  background: $pure-white;
}

nav {
  position: static;
}

footer {
  background: $pure-white;
}

main {
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: calc(98.5vh - 210px);
  justify-items: center;
  text-align: center;
  width: 100vw;
}

input {
  @include shadow(1);

  border: 0;
  border-radius: 4px;
  padding: 0.8rem 1.8rem;
  transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;

  &:hover,
  &:focus {
    @include shadow(2);

    transform: translateY(-5px);
  }
}

.head {
  margin-bottom: 2rem;

  button {
    margin-left: 0.5rem;
  }
}

.cards {
  background: linear-gradient(
    rgba($pure-white, 1) 0%,
    rgba($pure-white, 0) 15%,
    rgba($pure-white, 0) 85%,
    rgba($pure-white, 1) 100%
  );
  box-sizing: border-box;
  max-height: 100%;
  overflow-x: scroll;
  padding: 3rem;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.card {
  @include shadow(3);

  align-items: center;
  background: $white;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr;
  height: auto;
  margin: 2rem;
  padding: 1rem 2rem;
  position: relative;
  top: -3rem;
  transition: 1s ease;
  z-index: -2;

  img {
    border-radius: 4px;
    grid-row: 1 / 3;
    height: 7rem;
  }

  svg {
    position: absolute;
    right: 0;
    top: 0;

    height: 1.5rem;
    padding: 1rem 2rem;
  }

  .overlay {
    background-color: rgba($pure-white, 0.9);
    border-radius: 4px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  h3,
  h4,
  h5 {
    margin: 1px;
  }
}

article {
  height: 0;
}

@media (max-width: 600px) {
  .head {
    font-size-adjust: 0.4;
    line-height: 0.3;
    margin-bottom: 1rem;
  }

  .card {
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    justify-items: center;

    img {
      grid-row: 1 / 2;
    }
  }
}
